<head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
</head>

<form method="post" action="http://localhost:8081/macro/v1.0/run">
    Select an org:
    <select id="orgs" name="orgs">
        <option value="5418" selected>5418</option>
        <option value="5729">5729</option>
    </select>

    <p></p>
    <p></p>
    Select a site:
    <select id="sites" name="sites">
        <option value="any" selected>All</option>
        <option value="75285">75285</option>
        <option value="80008993">80008993</option>
        <option value="80033356">80033356</option>
    </select>
    <p></p>
    Select a Device Type:
    <select id="devtype" name="devtype">
        <option value="any" selected>Any</option>
        <option value="Orbit 3">Orbit3</option>
        <option value="Orbit 5">Orbit5</option>
        <option value="Orbit ES">OrbitES</option>
        <option value="ST600">ST600</option>
    </select>
    <p></p>
    Select a Comm Type:
    <select id="commtype" name="commtype">
        <option value="any" selected>Any</option>
        <option value="SSC">SSC</option>
        <option value="VPN">VPN</option>
        <option value="SIP">SIP</option>
        <option value="SIPH">SIPH</option>
    </select>
    <p></p>
    <p></p>
    <p></p>
    Select a Site Status:
    <select id="sitestatus" name="sitestatus">
        <option value="any" selected>Any</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    <p></p>

    <b>Actions:</b>
    <p></p>
    <div>
        <input type="checkbox" id="snapShot" name="snapShot" value="snapShot">
        <label for="snapShot">Get Snapshot</label>
    </div>
    <div>
        <input type="checkbox" id="getTime" name="getTime" value="getTime">
        <label for="getTime">Get Orbit Time</label>
    </div>
    <div>
        <input type="checkbox" id="setTime" name="setTime" value="setTime">
        <label for="setTime">Set Orbit Time</label>
    </div>
    <div>
        <input type="checkbox" id="devStat" name="devStat" value="devStat">
        <label for="devStat">Get Device Status</label>
    </div>


    <input id='submit-button' type='button' value="Submit">
</form>

<pre id="output">
<a></a>
</pre>


<script type="text/javascript">
var $orgsSelect = $("#orgs");
var $sitesSelect = $("#sites");
var $devTypeSelect = $("#devtype");
var $commTypeSelect = $("#commtype");
var $siteStatusSelect = $("#sitestatus");

var $snapshot = $("#snapShot");
var $getTime = $("#getTime");
var $setTime = $("#setTime");
var $devStat = $("#devStat");

$("#submit-button").click(function(){
	var actionsArr = [];
	var formData;

	if($snapshot.is(':checked')) {
		actionsArr.push("snapshot");
	}
	if($getTime.is(':checked')) {
		actionsArr.push("gettime");
	}
	if($setTime.is(':checked')) {
		actionsArr.push("settime");
	}
	if($devStat.is(':checked')) {
		actionsArr.push("devstat");
	}

	formData = {
		orgId: $orgsSelect.find(":selected").val(),
		siteId: $sitesSelect.find(":selected").val(),
		deviceType: $devTypeSelect.find(":selected").val(),
		commType: $commTypeSelect.find(":selected").val(),
		siteStatus: $siteStatusSelect.find(":selected").val(),
		actions: actionsArr
	}

$.ajax({
  type: "POST",
  url: "http://localhost:8081/macro/v1.0/run",
  data: JSON.stringify(formData),
  //dataType: "json",
  contentType : "application/json",
  success: function(data) {

    $("#output").append('<a href="http://localhost:8081/macro/v1.0/report/'+data.requestId+'" target="_blank">'+data.requestId+'</a>');
  }
});
});

</script>
</body>
